absl-py
addict
blessed
cachetools
certifi
charset-normalizer
cycler
easydict
einops
et-xmlfile
filelock
fonttools
fsspec
ftfy
gitdb
GitPython
google-auth
google-auth-oauthlib
gpustat
grpcio
huggingface-hub
idna
importlib-metadata
inplace-abn
kiwisolver
Markdown
MarkupSafe
matplotlib
mmcv
numpy
nvidia-ml-py
oauthlib
opencv-python
openpyxl
packaging
pandas
Pillow
protobuf
psutil
pyasn1
pyasn1-modules
pyparsing
python-dateutil
pytz
PyYAML
randaugment
regex
requests
requests-oauthlib
rsa
safetensors
scipy
six
smmap
tensorboard
tensorboard-data-server
tensorboard-logger
tensorboard-plugin-wit
termcolor
timm
tqdm
typing_extensions
urllib3
wcwidth
Werkzeug
yacs
yapf
zipp
